.container{
    margin:auto;
    justify-content: center;
}
.hair{
    background: black;
    width:10px;
    height:10px;
    transform: scaleX(25deg);
}
#faceshape{
    position: relative;
    width:80px;
    height:90px;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 50%;
}

#bodypart{
    width:70px;
    height:10%;
    background-color: lightyellow;
    border: 1px solid black;
    margin-left: 5px;
}
#bottompart{
    width:70px;
    height:6%;
    background-color: lightyellow;
    border: 1px solid black;
    margin-left: 5px;
}
.nobita-left-eye {
    background: white;
    width: 32%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid black;
    top: 25px;
    position: absolute;
    margin-top: -10%;
    margin-left: 15%;
}


.nobita-right-eye {
    margin-left: 50%;
    background: white;
    width: 32%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid black;
    top: 25px;
    position: absolute;
    margin-top: -10%;
}

.nobita-sparkle {
    position: absolute;
    background: black;
    width: 21%;
    height: 45%;
    border-radius: 50%;
    top: 20%;
    left: 50%;
}
.nobita-innersparkle {
    position: absolute;
    background: white;
    width: 31%;
    height: 32%;
    border-radius: 50%;
    top: 30%;
    left: 45%;
}

.nobita-nose {
    margin-left: 45%;
    background: lightyellow;
    width: 9%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid black;
    top: 50px;
    position: absolute;
    margin-top: -10%;
}
.nobita-mouth {
    position: relative;
    background: brown;
    width: 35%;
    height: 20%;
    border-top-right-radius: 160px;
    border-top-left-radius: 75px;
    border-bottom-left-radius: -3px;
    top: 65%;
    left: 36%;
    transform: rotate(180deg);
    border: 0.8px solid black;
}
.nobita-inner-mouth {
    position: absolute;
    background: red;
    width: 35%;
    height: 20%;
    border-top-right-radius: 160px;
    border-top-left-radius: 75px;
    border-bottom-left-radius: -3px;
    top: 65%;
    left: 36%;
    transform: rotate(180deg);
    border: 0.8px solid black;
}
.nobita-specs-left{
    width: 1px;
    height: 9px;
    position: absolute;
    transform: rotate(100deg);
    background: black;
    top: 26px;
    left: 7px;

}
.nobita-specs-right{
    width: 1px;
    height: 15px;
    position: absolute;
    transform: rotate(273deg);
    background: black;
    top: 25px;
    right: 8px;

}
#legs{
    position: relative;
    width: 200px;
    height: 500px;
}
.legsL{
    width:20px;
    height:20%;
    background-color: lightyellow;
    border: 1px solid black;
    margin-left: 5px; 
    position: absolute;
}
.legsR{
    width: 20px;
    height: 20%;
    background-color: lightyellow;
    border: 1px solid black;
    margin-left: 54px;
    position: absolute;;

}